body{
    background-image: url('https://i.pinimg.com/600x315/08/72/79/0872797eed964d55b62437c4abd95e22.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 200px;
}
.erro{
    background-color: rgb(248, 120, 120);
    height: calc(1.5em + .75rem + 2px);
    border-radius: 5px;
    text-align: center;
}
.msg_erro{
    color: red;
}
#tabela_lista_livro{
    background-color: white;
}
#root{
    background-color: white;
}